# ----- OS/IDE -----
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# ----- Node / React -----
/frontend/node_modules/
yarn-error.log
npm-debug.log
# Build/Dist folders
/frontend/build/
/frontend/dist/
# Coverage
/frontend/coverage/

# ----- Java / Spring Boot -----
/backend/target/
.gradle/
/backend/build/
*.class
*.jar
*.war
*.iml

# ----- Misc -----
.env
.env.*